html {
    margin: 0;

}

body {
    margin: 0;
    height: 100%;
}


.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

#navMenu {
    background-color: #003264;
}


#logo{
width:60%;
}

#lblSalir{
    font-size:3vw;
    color:white;
    margin-left:10px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow-x:auto;
    overflow-y:auto;
}

#cAbiertos{
    text-align:right;
    font-size:3vw;
    
}

#cCerrados {
    text-align: center;
    font-size: 2vw;
    
}


#imagenInicio{
   
    text-align:center;
}

#colAreas {
    height:25%;
    text-align: center;
    margin-top: 5%;
   
}

.lblDeps{
    font-size:2vw;
    color:#003264;
    display:none;
}

#divAbiertos{
    text-align:center;
    background-color:red;
    color:white;
   
}

#numAbiertos {
    background-color: red;
    text-align:center;
    margin:0;
    padding:0;
    font-size:3vw;

}

#abiertos{
    color:white;
    margin:0;
    padding:0;
    font-size:3vw;
}

div[name="areas"]{
    text-align:right;
}

#botonIr {
    margin-top: 20%;
    width: 100%;
    background-color: #003264;
}

#selectConcern li > a, .dropdown-content li > span {
    font-size: 1.5vw;
    text-align: center;
    color: #003264;
}

select-dropdown dropdown-trigger {
    font-size: 2.5vw;
}


 #NumParte,#NumMaquina {
     font-size:2vw;
    text-align: center;
    text-transform: uppercase;
}


#txtNumConcern, #txtHoraAtencion, #txtResponsable, #txtFechaCierre, #txtHoraCierre, #txtCausaRaiz, #txtAcciones, #txtTiempoAtencion, #txtComentarios, #txtCambioModelo, #txtDispatcher, #txaComentariosC {
    text-align: center;
    text-transform: uppercase;
}

#botonGuardar {
    margin-top:10%;
    width: 100%;
    font-size: 2vw;
    height:50px;
    background-color:#003264;
}

/*   Formulario de reportes*/


.formulario > div {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.formulario .radio label,
.formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #003264;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 2vw;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.formulario .radio2 label,
.formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #003264;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 2vw;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .formulario .radio label:hover,
    .formulario .checkbox label:hover {
        background: rgba(255, 65, 54, 0.1);
    }

    .formulario .radio label:before,
    .formulario .checkbox label:before {
        content: "";
        display: inline-block;
        width: 2vw;
        height: 2vw;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #003264;
    }

.formulario input[type="radio"] {
    display: none;
}

    .formulario input[type="radio"]:checked + label:before {
        display: none;
    }

    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #003264;
        border-radius: 2px;
        color: #fff;
    }



.formulario {
  
    width: 100%;
    text-align: center;
}

    /*    TERMINA FORMULARIO*/






#flecha{
    text-align:center;
   
}
#filaFechaR{
    margin-top:5%;
}

#flechaF {
    margin-top: 10%;
    font-size: 3vw;
    color: #2bbbad;
}

#divDescargar{
    text-align:center;
}

#btnDescargar{
    width:25%;
    margin-left:40%;
    font-size:2vw;
    height:3rem;
}

#filaBotonR{
    margin-top:3%;
}

#lblFecha {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #16A085;
}

#piechart{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

#divTabla2, #divTabla3, #divTabla4 {
    display: none;
}

#botonFlotante {
    background-color: #1b5e20;
}


#lblMPCP{
    margin:0;
    font-size:3rem;
}

#iconMenu{
    font-size:3rem;
}

#divMPCP{
    margin:0;
    padding:0;
    text-align:center;
}

#divSalir{
    margin:0;
    padding:0;
    text-align:center;
}

#iconSalir{
    font-size:3rem;
}

#filaConcernsA{
    display:none;
}

#logoMrea{
    width:60%;
    margin-left:20%;
    margin-top:5%;
    margin-bottom:10%;
}


#sidenavExit{
    margin-top:70%;
}

td{
    text-align:center;
}

th{

    text-align:center;
}

#areas{
    display:none;
}

#tituloConcern{
    margin-left:34%;
}

#tituloConcern2 {
    margin-left: 30%;
    margin-bottom:3%;
}

#tituloAltas{
    text-align: center;
}

#tituloAltas2 {
   text-align:center;
}

#iconLoc, #iconHor, #iconAp {
    font-size: 3vw;
    color:#003264;
}

.textPanel{
    font-size:2vw;
}

#divIconLoc, #divIconHor, #divIconAp {
    text-align: right
}

#labelUb, #labelHor {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2vw;
    border-bottom: 1px solid #ccc;
}
#labelAp {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2vw;
}

#rowUb, #rowHr, #rowAp {
    margin-bottom: 0
}

#status {
    font-size: 3vw;
    color: #2bbbad;
}

#lblDep {
    font-size: 2vw;
    color: #2bbbad;
}




#text1, #text2, #text3, #text4{
    text-align:right;
}

#divIconB{
    margin-top:20%;
    text-align:right;
  
}

#btnCambiaPass {
    background-color: #2bbbad;
    height: 3rem;
    font-size: 1.5rem;
}

#txtPass, #txtPassRepeat {

    font-size:2vw;
    text-align:center;
}


/*---------------------- estilos checkbox reportes -----------------*/


.formulario .radio label,
.formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #003264;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 2vw;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .formulario .radio label:hover,
    .formulario .checkbox label:hover {
        background: rgba(255, 65, 54, 0.1);
    }

    .formulario .radio label:before,
    .formulario .checkbox label:before {
        content: "";
        display: inline-block;
        width: 2vw;
        height: 2vw;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid #003264;
    }

.formulario input[type="radio"] {
    display: none;
}

    .formulario input[type="radio"]:checked + label:before {
        display: none;
    }

    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #003264;
        border-radius: 2px;
        color: #fff;
    }

.formulario .checkbox label:before {
    border-radius: 3px;
}

.formulario .checkbox input[type="checkbox"] {
    display: none;
}

    .formulario .checkbox input[type="checkbox"]:checked + label:before {
        display: none;
    }

    .formulario .checkbox input[type="checkbox"]:checked + label {
        background: #003264;
        color: #fff;
        padding: 5px 15px;
    }

    /*------------------------------------ estilos select reportes ---------------------------*/


#selectMaquina{
    margin-top:10%;
    font-size:2vw;
}


