USE [master]
GO
/****** Object:  Database [MPCP]    Script Date: 24/07/2020 04:23:26 p.m. ******/
CREATE DATABASE [MPCP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MPCP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MPCP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MPCP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MPCP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPCP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPCP]
GO
/****** Object:  User [mcruz]    Script Date: 24/07/2020 04:23:27 p.m. ******/
CREATE USER [mcruz] FOR LOGIN [mcruz] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CAT_MAQUINAS]    Script Date: 24/07/2020 04:23:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_MAQUINAS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[NUMERO_MAQ] [varchar](50) NULL,
	[NOMBRE_MAQ] [varchar](150) NULL,
	[AREA] [varchar](50) NULL,
	[UBICACION] [varchar](50) NULL,
	[TIPO_MAQ] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORT_CONCERN]    Script Date: 24/07/2020 04:23:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT_CONCERN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHA_FALLA] [date] NULL,
	[NUM_CONCERN] [bigint] NULL,
	[PROBLEMA_ID] [bigint] NULL,
	[NOMBRE_OPERADOR] [varchar](80) NULL,
	[AREA_SOPORTE] [varchar](50) NULL,
	[HORA_FALLA] [smalldatetime] NULL,
	[DEPARTAMENTO] [varchar](50) NULL,
	[NUM_PARTE] [varchar](50) NULL,
	[LINEA] [varchar](50) NULL,
	[NUMERO_MAQ] [varchar](50) NULL,
	[COORDINADOR] [varchar](85) NULL,
	[PROBLEMA] [varchar](250) NULL,
	[USUARIO] [varchar](80) NULL,
	[HORA_ATENCION] [datetime2](7) NULL,
	[RESPONSABLE] [varchar](85) NULL,
	[FECHA_CIERRE] [date] NULL,
	[HORA_CIERRE] [datetime2](7) NULL,
	[CAUSA_RAIZ] [varchar](250) NULL,
	[ACCIONES] [varchar](350) NULL,
	[TIEMPO_MUERTO] [int] NULL,
	[COMENTARIOS] [varchar](50) NULL,
	[TIEMPO_ATENCION] [varchar](50) NULL,
	[T_MUERTO] [varchar](50) NULL,
	[CAMBIO_M] [varchar](50) NULL,
	[DISPATCHER] [varchar](80) NULL,
	[COMENT] [varchar](350) NULL,
	[STATUS] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 24/07/2020 04:23:27 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usr] [varchar](50) NULL,
	[pswd] [varchar](50) NULL,
	[admin] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CAT_MAQUINAS] ON 

INSERT [dbo].[CAT_MAQUINAS] ([id], [NUMERO_MAQ], [NOMBRE_MAQ], [AREA], [UBICACION], [TIPO_MAQ]) VALUES (1, N'2086', N'DOOR ASSEMBLY', N'EFFF', N'CAPLES LINEA 2', N'MESA DE ENSAMBLE')
INSERT [dbo].[CAT_MAQUINAS] ([id], [NUMERO_MAQ], [NOMBRE_MAQ], [AREA], [UBICACION], [TIPO_MAQ]) VALUES (2, N'2085', N'EXTENSION ASSEMBLY', N'EFFF', N'CAPLES LINEA 2', N'MESA DE ENSAMBLE')
INSERT [dbo].[CAT_MAQUINAS] ([id], [NUMERO_MAQ], [NOMBRE_MAQ], [AREA], [UBICACION], [TIPO_MAQ]) VALUES (3, N'2084', N'BODY ASSEMBLY', N'EFFF', N'CAPLES LINEA 2', N'MESA DE ENSAMBLE')
GO
SET IDENTITY_INSERT [dbo].[CAT_MAQUINAS] OFF
SET IDENTITY_INSERT [dbo].[REPORT_CONCERN] ON 

SET IDENTITY_INSERT [dbo].[REPORT_CONCERN] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [usr], [pswd], [admin]) VALUES (1, N'usr', N'1234', 0)
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
