CREATE TABLE [dbo].[REPORT_CONCERN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHA_FALLA] [varchar](15) NULL,
	[NUM_CONCERN] [varchar](15) NULL,
	[NUM_FALLA] [varchar](15) NULL,
	[NOMBRE_OPERADOR] [varchar](80) NULL,
	[AREA_SOPORTE] [varchar](50) NULL,
	[HORA_FALLA] [varchar](15) NULL,
	[DEPARTAMENTO] [varchar](50) NULL,
	[NUM_PARTE] [varchar](50) NULL,
	[LINEA] [varchar](50) NULL,
	[NUMERO_MAQ] [varchar](50) NULL,
	[COORDINADOR] [varchar](85) NULL,
	[PROBLEMA] [varchar](250) NULL,
	[RECURRENTE] [varchar](10) NULL,
	[PARTES_MAL] [varchar](10) NULL,
	[SUPERVISOR] [varchar](10) NULL,
	[SCRAP] [varchar](10) NULL,
	[CONTENCION] [varchar](10) NULL,
	[HORA_ATENCION] [varchar](15) NULL,
	[RESPONSABLE] [varchar](150) NULL,
	[FECHA_CIERRE] [varchar](15) NULL,
	[HORA_CIERRE] [varchar](15) NULL,
	[CAUSA_RAIZ] [varchar](250) NULL,
	[ACCIONES] [varchar](350) NULL,
	[TIEMPO_MUERTO] [varchar](15) NULL,
	[TIEMPO_ATENCION] [varchar](50) NULL,
	[ESP_CLIENTE] [varchar](10) NULL,
	[PROD_NOTIF] [varchar](10) NULL,
	[DESVIACION] [varchar](10) NULL,
	[CAL_APROB] [varchar](10) NULL,
	[RETRABAJO] [varchar](10) NULL,
	[RETRABAJO_APROB] [varchar](10) NULL,
	[COMENT] [varchar](350) NULL,
	[CIERRE_MPCP] [varchar](50) NULL,
	[STATUS] [varchar](5) NULL
) ON [PRIMARY]
GO